body {
    background-color: rgb(19, 19, 28);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 10vh;
    flex-grow: 1;
    padding: 0 20px;
    box-sizing: border-box;
}

.selected-file {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}

.top-head {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 15px;
    font-size: 14px;
    font-weight: 700;
}

h1 {
    margin: 20px;
    font-size: 2.3rem;
    text-align: center;
}

.main-description {
    font-size: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    max-width: 600px;
}

button {
    border: rgb(114, 91, 152) solid 1.8px;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: medium;
    margin: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-description {
        font-size: 18px;
        margin-left: 10vw;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        padding: 8px 16px;
    }
}